<h1>New Course for Student</h1>

<%= form_with model: @student do |form| %>
  <div>
    <%= form.label :sid %><br>
    <%= form.text_field :sid %>
  </div>

  <div>
    <%= form.label :cid %><br>
    <%= form.text_area :cid %>
  </div>

  <div>
    <%= form.label :grade %><br>
    <%= form.text_area :grade %>
  </div>
  
  <div>
    <%= form.label :Course title %><br>
    <%= form.text_area :title %>
  </div>


  <div>
    <%= form.label :Term %><br>
    <%= form.text_area :term %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>