<%= form_with model: @course do |form| %> <!-- generic form used by edit and new -->
    <div>
      <%= form.label :title %><br>
      <%= form.text_field :title %>
    </div>
  
    <div>
      <%= form.label :cid %><br>
      <%= form.text_field :cid %>
    </div>
  
    <div>
      <%= form.label :instructor %><br>
      <%= form.text_field :instructor %>
    </div>
    
    <div>
      <%= form.label :credits %><br>
      <%= form.text_field :credits %>
    </div>
  
  
    <div>
      <%= form.label :prereqs %><br>
      <%= form.text_field :prereqs %>
      <p> Prerequisites should be in the form [[COMPSCI 121, COMPSCI 187], [COMPSCI 220]] indicating that a student must take both COMPSCI 121 and COMPSCI 187 or only COMPSCI 220, for example. </p>
    </div>

    <div>
      <%= form.label :description %><br>
      <%= form.text_field :description %>
    </div>
  
    <div>
      <%= form.submit %>
    </div>
  <% end %>