<h1><%= @course.title %></h1> <!-- shows an individual selected course -->

<h3> Description </h3>
<p><%= @course.description %></p>

<table>
    <tbody>
    
    <tr>
        <td>Course ID</td>
        <td><%= @course.cid %></td>
        
      </tr>
      <tr>
        <td>Credits</td>
        <td><%= @course.credits %></td>
        
      </tr>
      <tr>
        <td>Prerequisites</td>
        <td><%= @course.prereqs %></td>
      </tr>
    
  </tbody>

</table>

<br>




<%= link_to "Edit this course", edit_course_path %> <!-- redirects to edit course form -->
<br>
<%= link_to "Delete course", course_path(@course), data: { 
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %> <!-- deletes course -->
<br>
<%= link_to "Back to all courses", courses_path %> <!-- redirects to main course page -->

