<h1><%= @course.title %></h1> <!-- shows an individual selected course -->

<h3> Description </h3>
<p><%= @course.description %></p>

<table>
    <tbody>
    
    <tr>
        <td>Course ID</td>
        <td><%= @course.cid %></td>
        
      </tr>
      <tr>
        <td>Credits</td>
        <td><%= @course.credits %></td>
        
      </tr>
      <tr>
        <td>Prerequisites</td>
        
        <% if @course.prereqs == "" or @course.prereqs == "[]"%>
          <td>No prerequisites for this course</td>
        
        <% elsif @course.prereqs %>
          <td>
            
            <% prereqs_string = @course.prereqs.gsub(/(\w+\s+\d+\w*)/, '"\1"') %>
            <% prereqs_array = eval(prereqs_string) %>
            <% prereqs_array.each_with_index do |prereq_group, group_index| %>
              <% prereq_group.each_with_index do |prereq, prereq_index| %>
                <%= prereq %>
                <%= ' and ' if prereq_index < prereq_group.length - 1 %>
              <% end %>
              <%= ' or ' if group_index < prereqs_array.length - 1 %>
            <% end %>
          </td>
        
        <% else %>
          <td>No prerequisites for this course</td>
        <% end %>
      </tr>
    
  </tbody>

</table>

<br>




<%= link_to "Edit this course", edit_course_path %> <!-- redirects to edit course form -->
<br>
<%= link_to "Delete course", course_path(@course), data: { 
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %> <!-- deletes course -->
<br>
<%= link_to "Back to all courses", courses_path %> <!-- redirects to main course page -->

